.employee-list-container {
	padding: 20px;
	font-size: 15px;
	background-color: #ffffff;
	border-radius: 8px;
}

.employee-list-table {
	width: 100%;
	border-collapse: collapse;
	border-width: 1px;
	margin-top: 30px;
}

.employee-list-table-body {
	text-align: center;
}

.employee-list-table-body tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

input[type="checkbox"] {
	width: 100%;
	height: auto;
}

.employee-list-table-header {
	background-color: #f4f6f8;
}
.employee-list-table-header th {
	font-weight: 600;
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}

.employee-list-table-body td {
	padding: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.employee-list-table-action {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

.employee-list-query {
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.employee-list-query .employee-list-input-query {
    flex: 8;
}

.employee-list-query .employee-list-is-deleted {
    flex: 2;
}