.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}

.content {
    background-color: rgb(255, 255, 255);
    width: min(680px, 100%);
    border-radius: 10px;
    padding:50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.content .logo,
.content .model_title {
    text-align: center;
    margin-bottom: 25px;
}

.model_title {
    font-size: 1.5rem;
    color: #707070;
}

.content .logo img {
    width: 200px;
    height: auto;
}

.model_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_button {
    margin-top: 20px;
    border-radius: 6px;
    background-color: #6bf0b9;
    cursor: pointer;
    color: #ffffff;
    width: 50%;
    border: 1px solid #3af8a9;
    align-self: center;
}

.login_button:hover {
    background-color: #23e695;
    outline: none;
}

.login_subtext_login_social {
    text-align: center;
    margin: 15px 0 15px 0px;
    color: #999;
    font-size: 0.85rem;
    position: relative;
}

.login_subtext_login_social::before,
.login_subtext_login_social::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #e0e0e0;
}

.login_subtext_login_social::before {
    left: 0;
}

.login_subtext_login_social::after {
    right: 0;
}

.login_social_button_wrapper {
    display: flex;
    justify-content: center;
}

.login_google_btn {
    width: 50%;
}