.supplier-list-container {
    padding: 20px;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 8px;
}

.supplier-list-table {
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    margin-top: 30px;
}

.supplier-list-table-body {
    text-align: center;
}

input[type="checkbox"] {
    width: 100%;
    height: auto;
}

.supplier-list-table-header {
    background-color: #F4F6F8;
}
.supplier-list-table-header th {
    font-weight: 600;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
}

.supplier-list-table-body td {
    padding: 12px;
    border-bottom: 1px solid #E0E0E0;
}

.supplier-list-table-action {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.supplier_query {
    margin-top: 20px;
}