.product-list-product-container {
  padding: 30px 40px;
}

/* ===================== HEADER ===================== */
.product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.product-list-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.product-list-header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-list-tabs {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 18px;
}

.product-list-tab {
  padding: 12px 22px;
  font-size: 15px;
  cursor: pointer;
  color: #6b7280;
}

.product-list-tab.product-list-active {
  color: #0d6efd;
  font-weight: bold;
  border-bottom: 3px solid #0d6efd;
}


/* ===================== TABLE ===================== */
.products-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

.products-table th {
  background: #f9fafb;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
}

.products-table td {
  padding: 16px 15px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
}

.products-table td,
th {
  text-align: left;
  vertical-align: middle;
  padding: 14px;
}

.product-list-table-header {
  text-align: left;
  margin-left: 30px;
}

.product-list-product-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.product-list-product-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.product-list-product-info a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
}

.product-list-select-checkbox .product-list-delete-link {
  text-decoration: none;
  margin-top: -4px;
  font-size: 13px;
}

.product-list-vesion-product-variant {
  color: #a3a7ad;
}

.products-table .product-list-select-checkbox {
  display: flex;
  font-weight: 500;
  gap: 10px;
}