.account-detail-container {
    width: 100%;
}

.account-detail-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.account-detail-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
}
.account-detail-avatar-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.account-detail-image-input {
    display: none;
}

.account-detail-avatar-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.account-detail-info-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-detail-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.account-detail-button {
    background-color: blue;
    color: white;
    width: 200px;
}

.button-wrapper {
    justify-content: center;
}

.account-detail-button:hover {
    cursor: pointer;
    color: blue;
}